{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}


{% block content %}

<!--**********************************
                Content body start
            ***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Server</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Infos</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">HTTP_HOST: <strong>{{ request.META.HTTP_HOST }}</strong> </h4>
                <h4 class="card-title">OS: <strong>{{ request.META.OS }}</strong> </h4>
                <h4 class="card-title">SERVER_PROTOCOL: <strong>{{ request.META.SERVER_PROTOCOL }}</strong> </h4>
                <h4 class="card-title">PROCESSOR_ARCHITECTURE: <strong>{{ request.META.PROCESSOR_ARCHITECTURE }}</strong> </h4>
                <h4 class="card-title">PROCESSOR_ARCHITECTURE: <strong>{{ request.META.PROCESSOR_IDENTIFIER }}</strong> </h4>
                <h4 class="card-title">ASTERISK: <strong>17.9.3</strong> </h4>
                <h4 class="card-title">SERVER BUILD: <strong>2.0.1</strong> </h4>
                <h4 class="card-title">ZOIPER: <strong>4.5.1</strong> </h4>
            </div>
        </div>

  
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Processesseur</h4>
                        <div id="flotRealtime1" class="flot-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Mémoire vive</h4>
                        <div id="flotRealtime2" class="flot-chart"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- #/ container -->
</div>
<!--**********************************
                Content body end
            ***********************************-->


{% endblock content %}