{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}


{% block content %}

    <!--**********************************
                Content body start
            ***********************************-->
    <div class="content-body">
    
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="card card-widget">
                        <div class="card-body gradient-3">
                            <div class="media">
                                <span class="card-widget__icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <div class="media-body">
                                    <h2 class="card-widget__title">{{cdr_answered}}</h2>
                                    <h5 class="card-widget__subtitle">Appels reçus</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-3">
                    <div class="card card-widget">
                        <div class="card-body gradient-5">
                            <div class="media">
                                <span class="card-widget__icon"><i class="fa fa-share" aria-hidden="true"></i></span>
                                <div class="media-body">
                                    <h2 class="card-widget__title">{{cdr_no_answer}}</h2>
                                    <h5 class="card-widget__subtitle">Appels manqués</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="col-3">
                    <div class="card card-widget">
                        <div class="card-body gradient-4">
                            <div class="media">
                                <span class="card-widget__icon"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                <div class="media-body">
                                    <h2 class="card-widget__title">{{cdr_busy}}</h2>
                                    <h5 class="card-widget__subtitle">Appels occupés</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card card-widget">
                        <div class="card-body gradient-9">
                            <div class="media">
                                <span class="card-widget__icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                <div class="media-body">
                                    <h2 class="card-widget__title">{{cdr_failed}}</h2>
                                    <h5 class="card-widget__subtitle">Appels échoués</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Line Chart</h4>
                            <div id="flotLine1" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Line Chart</h4>
                            <div id="flotLine2" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Line Chart</h4>
                            <div id="flotLine3" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Line Chart</h4>
                            <div id="flotLine4" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Bar Chart</h4>
                            <div id="flotBar1" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Bar Chart</h4>
                            <div id="flotBar2" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Area Chart</h4>
                            <div id="flotArea1" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Area Chart</h4>
                            <div id="flotArea2" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Realtime Chart</h4>
                            <div id="flotRealtime1" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Realtime Chart</h4>
                            <div id="flotRealtime2" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Pie Chart</h4>
                            <div id="flotPie1" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Pie Chart</h4>
                            <div id="flotPie2" class="flot-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
                Content body end
            ***********************************-->


{% endblock content %}