{% extends 'base.html' %}
{% load static %}
{% block title %}{{cel.uniqueid}}{% endblock title %}


{% block content %}

<!--**********************************
                Content body start
            ***********************************-->
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">PBX</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">CEL</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">{{cel.uniqueid}}</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Il y a {{cel.eventtime|timesince}}</h2>
                        </div>
                        <div class="">
                            <ul>
                                <li><strong>uniqueid:</strong> {{cel.uniqueid}}</li>
                                <li><strong>eventtime:</strong> {{cel.eventtime}}</li>
                                <li><strong>eventtype:</strong> {{cel.eventtype}}</li>
                                <li><strong>userdeftype:</strong> {{cel.userdeftype}}</li>
                                <li><strong>cid_name:</strong> {{cel.cid_name}}</li>
                                <li><strong>cid_num:</strong> {{cel.cid_num}}</li>
                                <li><strong>cid_ani:</strong> {{cel.cid_ani}}</li>
                                <li><strong>cid_rdnis:</strong> {{cel.cid_rdnis}}</li>
                                <li><strong>cid_dnid:</strong> {{cel.cid_dnid}}</li>
                                <li><strong>exten:</strong> {{cel.exten}}</li>
                                <li><strong>context:</strong> {{cel.context}}</li>
                                <li><strong>channame:</strong> {{cel.channame}}</li>
                                <li><strong>appname:</strong> {{cel.appname}}</li>
                                <li><strong>appdata:</strong> {{cel.appdata}}</li>
                                <li><strong>accountcode:</strong> {{cel.accountcode}}</li>
                                <li><strong>peeraccount:</strong> {{cel.peeraccount}}</li>
                                <li><strong>linkedid:</strong> {{cel.linkedid}}</li>
                                <li><strong>amaflags:</strong> {{cel.amaflags}}</li>
                                <li><strong>userfield:</strong> {{cel.userfield}}</li>
                                <li><strong>peer:</strong> {{cel.peer}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- #/ container -->
</div>
<!--**********************************
    Content body end
***********************************-->


{% endblock content %}