

<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">DASHBOARD</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                   <i class="fa fa-line-chart menu-icon" aria-hidden="true"></i><span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'dashboard:dashboard' %}">Stats PBX</a></li>
                    <li><a href="#">RH</a></li>
                    <li><a href="#">Finances</a></li>
                </ul>
            </li>
            
            <li class="nav-label">PBX</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-headphones menu-icon" aria-hidden="true"></i><span class="nav-text">Centre d'appels</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'pbx:cdr_view' %}">CDR</a></li>
                    <li><a href="{% url 'pbx:cdr_view' %}">CEL</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Queues</a></li>
                    <li><a href="#">Incomming Call Rules</a></li>
                    <li><a href="#">Outgoing Calling Rules</a></li>
                </ul>
            </li> 
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i> <span class="nav-text">Messagerie</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'mail:mail_write' %}">Nouveau mail</a></li>
                    <li><a href="{% url 'mail:mail_inbox' %}">Mails réçus</a></li>
                    <li><a href="#">SMS</a></li>
                    <li><a href="#">CHAT</a></li>
                </ul>
            </li>
            <li class="nav-label">Forms</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Forms</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'forms:basic_form' %}">Basic Form</a></li>
                    <li><a href="{% url 'forms:step_form' %}">Step Form</a></li>
                    <li><a href="{% url 'forms:editor_form' %}">Editor</a></li>
                </ul>
            </li>
            <li class="nav-label">EXTRAS</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-calendar" aria-hidden="true"></i><span class="nav-text">Agenda</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'agenda:agenda_view' %}">Agenda</a></li>
                    <li><a href="{% url 'agenda:note_view' %}">Notes</a></li>
                </ul>
            </li>
            <li class="nav-label">SYSTEME INFOS</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-desktop" aria-hidden="true"></i><span class="nav-text">Informations systeme</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'app:index' %}">Perfomences</a></li>
                </ul>
            </li>
            
        </ul>
    </div>
</div>
